# My Jupyter Notebook on IBM Watson Studio

 **Name - Lakshay Kumar**
 
 **Occupation - Student**

*I am interested in data science because it is the fastest growing careers of the 21st century. Also, I am interested in analytical work. I want to analyse data to derive useful insights for an organisation.*

### The below code represents simple mathematical functions like addition, subtraction, multiplication and division

In [7]:
1+1-2/6*2

1.3333333333333335

Horizontal Rule <hr/>


**Bulleted List**


* Bullet 1
* Bullet 2
* Bullet 3
* Bullet 4


**Numbered List**

1. Baked potato
2. Baked beans
3. Pepper




**Tables**



|   R1   |  C1  |  C2  |
| ------ | ---- | ---- |
|   R2   |  C3  |  C4  |
|   R5   |  C5  |  C6  |






**Syntax Highlighting**

```json

  "firstName": "Lakshay",
  "lastName": "Kumar",
  "age": 19

```


~~This is a strikethrough text.~~





https://youtube.com/










**Blockquotes**

> "In a few moments he was barefoot, his stockings folded in his pockets and his
  canvas shoes dangling by their knotted laces over his shoulders and, picking a
  pointed salt-eaten stick out of the jetsam among the rocks, he clambered down
  the slope of the breakwater."

Thank You